/*.Contenido-mapa{
    height: 720px;
    width: 700px;
    /*background-color: black;
    box-shadow: 1px 5px 20px 5px #464646;
}

.mapa{
    height: 670px;
    width: 550px;
    margin: 25px auto;
}



@media (max-width:800px){
    .Contenedor-mapa{
        width: 600px;
    }
    .mapa{
        margin: 45px auto;
    }
}

@media (max-width:500px){
    .Contenedor-mapa{
        width: 450px;
    }

    .mapa{
        width: 400px;
    }
}


@media (max-width:400px){
    .Contenedor-mapa{
        width: 350px;
    }

    .mapa{
        width: 310px;
    }
}

@media (max-width:350px){
    .Contenedor-mapa{
        width: 300px;
    }

    .mapa{
        width: 270px;
    }
}*/